@import url('/css/mgmenu.css');

body {background:url(../img/page_bg.png) repeat}
body {background:url(../img/page_bg@2x.png) repeat}

.padding15 {
	padding: 15px;
}

.attach-button {
	width: 100px;
	height: 100px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
	font-size: 11px;
	margin: 5px;
}

	.attach-button i {
		display: block;
		font-size: 50px;
		padding: 5px;
	}
	
section#header {
	background-color: #8bb982;
	padding: 20px 0;
}

section#navigation {
	background-color: #4c7843;
}

	.mgmenu_container {}
	
		.mgmenu_container .fa { padding-right: 7px; }

section#content {
	padding: 30px 0;
}

section#footer {
	background-color: #4c7843;
	padding: 15px 0;
}

	section#footer h4 {
		color: #ffffff;
	}
	
	section#footer p {
		color: #ffffff;
	}
	
	section#footer a {
		color: #ffffff;
	}